@inject AuthenticationService AuthService

<div class="navtitle">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CourseWork</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="navlist" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item" >
            <NavLink class="nav-link text-danger" href="coffee-list" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Coffee List
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link text-danger" href="OrderedItems">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Ordered
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link text-danger" href="Payments">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Payments
            </NavLink>
        </div>
        @if(AuthService.UserType == UserType.Admin)
        {
            <div class="nav-item">
                <NavLink class="nav-link text-danger" href="AddIns">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Add Ins
                </NavLink>
            </div>
        }
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

